<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg">
      <div class="collapse navbar-collapse">
        <div class="navbar-nav">
         <a class="nav-item nav-link text-white" href="/">Home</a>
          <a class="nav-item nav-link text-white" href="/signup">Sign Up</a>
          <a class="nav-item nav-link text-white" href="/login">Login</a>
          <a class="nav-item nav-link text-white" href="/contact">Contact Us</a>
        </div>
      </div>
    </nav>

    <div class="container mt-4">
      <div class="jumbotron bg-transparent">
        <h1 class="display-4">About USF Anonymous Forum</h1>
        <p class="lead">Welcome to the about page! This website serves as a simple anonymous forum where students at USFCA can post anonymously. Our mission is to provide a safe and open platform for students to discuss their thoughts, share experiences, and support each other.</p>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
