<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <div class="collapse navbar-collapse">
            <div class="navbar-nav">
                <a class="nav-item nav-link text-white" href="/">Home</a>
                <a class="nav-item nav-link text-white" href="/about">About</a>
                <a class="nav-item nav-link text-white" href="/signup">Sign Up</a>
                <a class="nav-item nav-link text-white" href="/login">Login</a>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        <h1 class="display-4 text-white">Contact Us</h1>

        <div class="jumbotron bg-transparent text-white">
            <h3>Email:</h3>
            <p>info@usfanonforum.com</p>

            <h3>Phone:</h3>
            <p>(123) 456-7890</p>

            <h3>Hours of Operation:</h3>
            <p>Monday - Friday: 9:00AM - 5:00PM</p>
            
            <h3>Address:</h3>
            <p>University of San Francisco<br>
            2130 Fulton St<br>
            San Francisco, CA 94117<br>
            United States</p>
        </div>

        <a class="btn btn-light btn-lg" href="/" role="button">Back to Home</a>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
