<!DOCTYPE html>
<html>
<head>
    <title>Sign Up Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/main.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="/scripts/util.js"></script>
</head>
<body class="scroll">
    <nav class="navbar navbar-expand-lg">
      <div class="collapse navbar-collapse">
        <div class="navbar-nav">
          <a class="nav-item nav-link text-white" href="/" role="button">Home</a>
          <a class="nav-item nav-link text-white" href="/about">About</a>
          <a class="nav-item nav-link text-white" href="/login">Login</a>
          <a class="nav-item nav-link text-white" href="/contact">Contact Us</a>
        </div>
      </div>
    </nav>

    <div class="container mt-4">
      <div class="jumbotron bg-transparent">
        <h1 class="display-4">Sign Up</h1>
        <p class="lead">Sign up for real conversations</p>
      </div>

      <form name="signupForm" action="/signup" method="POST" onsubmit="return validateForm()" class="mb-4">
        <div class="form-group">
          <label for="username">Username</label>
          <input id="username" name="username" type="text" class="form-control" />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input id="email" name="email" type="email" class="form-control" />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input id="password" name="password" type="password" class="form-control" />
        </div>
        <button type="submit" class="btn btn-light">Sign Up</button>
      </form>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>


